@font-face {
    font-family:'Xingkai';
    src: url('./Xingkai-2.ttf');
}
@font-face {
    font-family: 'Gangbi';
    src: url('./Gangbi.ttf');
}
@font-face {
    font-family: 'Shouxie';
    src: url('./Shouxie.ttf');
}